.card {
  max-width: 75vw;
  margin: 0 auto;
  border: 0;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-100px);
}

.texts {
  padding: 30px 100px;
  color: #777;
}

.title {
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 14px;
  font-weight: 300;
}
