.allCards {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;

  margin-bottom: 30px;
  padding: 40px;
}

.card1 {
  padding-top: 30px;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
}

.card2 {
  padding-top: 30px;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
}

.card3 {
  padding-top: 30px;
  border-right: 1px solid #777;
  border-top: 1px solid #777;
}

.card4 {
  padding-top: 30px;
  border-left: 1px solid #777;
  border-top: 1px solid #777;
}

.icon {
  width: fit-content;
  color: white;
  background-color: #0648a4;
  font-size: 25px;
  padding: 14px;
  border-radius: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .allCards {
    width: 100vw;
    grid-template-columns: 1fr;
  }
}
